<div class="dashboard-container">
  <header class="dashboard-header">
    <h1>Welcome, {{ userName }}!</h1>
    <a routerLink="/create-blog" class="btn-create">+ Create New Blog</a>
  </header>

  <div *ngIf="isLoading" class="loading">
    <p>Loading your blogs...</p>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="!isLoading && blogs.length === 0" class="no-blogs">
    <p>You haven't created any blogs yet.</p>
    <a routerLink="/create-blog" class="btn-create">Create Your First Blog</a>
  </div>

  <div class="blogs-table" *ngIf="!isLoading && blogs.length > 0">
    <div class="table-header">
      <h2>Your Blogs ({{ blogs.length }})</h2>
    </div>

    <div class="blog-item" *ngFor="let blog of blogs">
      <div class="blog-info">
        <h3>
          <a [routerLink]="['/blogs', blog.id]">{{ blog.title }}</a>
        </h3>
        <span class="blog-date">Created: {{ formatDate(blog.createdAt) }}</span>
      </div>

      <div class="blog-actions">
        <a [routerLink]="['/blogs', blog.id]" class="btn-view">View</a>
        <a [routerLink]="['/edit-blog', blog.id]" class="btn-edit">Edit</a>
        <button (click)="deleteBlog(blog.id)" class="btn-delete">Delete</button>
      </div>
    </div>
  </div>
</div>