<p>blog-detail works!</p>
<div class="blog-detail-container">
  <div *ngIf="isLoading" class="loading">
    <p>Loading blog...</p>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
    <a routerLink="/blogs" class="back-link">← Back to Blogs</a>
  </div>

  <article *ngIf="!isLoading && blog" class="blog-article">
    <header class="blog-header">
      <h1>{{ blog.title }}</h1>
      
      <div class="blog-meta">
        <div class="author-info">
          <span class="author-name">{{ blog.authorName }}</span>
          <span class="date">{{ formatDate(blog.createdAt) }}</span>
        </div>

        <div class="actions" *ngIf="isOwner">
          <a [routerLink]="['/edit-blog', blog.id]" class="btn-edit">Edit</a>
          <button (click)="deleteBlog()" class="btn-delete">Delete</button>
        </div>
      </div>
    </header>

    <div class="blog-content">
      <p>{{ blog.content }}</p>
    </div>

    <footer class="blog-footer">
      <a routerLink="/blogs" class="back-link">← Back to All Blogs</a>
    </footer>
  </article>
</div>